/* .myButton {
    font-family: system-ui;
    padding: 1rem 2rem;
    color: #fff;

    cursor: pointer;
    font-size: var(--fs-11);
    transition: var(--transition);
    font-family: "Sora-Bold";
    
    
  } */


  .myButton:hover {
    color: #c981f0;
  }