.hero {
  display: flex;
  justify-content: center;
}
.hero .container {
  position: relative;
  z-index: 10;
}
.hero .container .img_container .image_inside {
  z-index: -1;
}
.hero .container .img_container .mySpan {
  width: 100%;
  height: 100%;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: initial;
}
.hero .container .img_container .mySpan span {
  backface-visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  -webkit-user-select: initial;
     -moz-user-select: initial;
          user-select: initial;
  pointer-events: initial;
  will-change: auto;
  transform: translate3d(0px, 0px, 0px);
}
.hero .container .img_container .img_bg {
  width: 100%;
  height: 100%;
}
.hero .container .img_container .bg-conic-gradient {
  background-image: conic-gradient(from 225deg, #ffc876, #79fff7, #9f53ff, #ff98e2, #ffc876);
}
.hero .container .img_container .bg-conic-gradient .robot_image {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  position: relative;
  z-index: 111;
}
.hero .container .img_container .bg-conic-gradient .robot_image .top_banner {
  height: 4vh;
  background-color: #43435c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.hero .container .img_container .bg-conic-gradient .robot_image img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
.hero .container .img_container .bg-conic-gradient .bottom_div {
  height: 4vh;
}
.hero .container .img_container .bg-conic-gradient .bottom_div .bottom_1 {
  height: 5vh;
  width: 95%;
  background-color: #2b1920;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  bottom: -7px;
  z-index: 10;
  transform: translate(-50%, -50%);
}
.hero .container .img_container .bg-conic-gradient .bottom_div .bottom_2 {
  background-color: #5c474e;
  height: 5vh;
  width: 90%;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  bottom: -15px;
  z-index: 9;
  transform: translate(-50%, -50%);
}
.hero .h1 {
  font-weight: 600;
  font-family: "Sora-SemiBold";
}
.hero .p {
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Sora-Regula";
  color: rgb(202, 198, 221);
}
.hero .started_Btn {
  background-color: #ffffff;
  color: var(--black);
  width: 136px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Sora-Medium";
  border-radius: 5px;
  margin: 10px auto;
  text-transform: capitalize;
}

@media screen and (min-width: 576px) {
  .hero h1 {
    letter-spacing: -1px;
  }
  .hero h1 span {
    margin-left: 1rem;
  }
  .hero p {
    font-size: 2rem;
    line-height: 3rem;
    max-width: 68rem;
  }
  .hero .button {
    width: 13rem;
    margin: 2rem 0;
  }
  .hero .button span {
    font-size: 1.1rem;
  }
  .hero .img_container .circles {
    top: -38.375rem;
  }
}
@media screen and (min-width: 576px) {
  .hero .img_container .circles {
    top: -47.375rem;
  }
}/*# sourceMappingURL=hero.css.map */