// @use "../../styles/variables/colors" as *;

.navbar {
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  z-index: 100;
  .nav-links {
    .nav-link {
      padding-left: 3rem;
      padding-right: 3rem;
      cursor: pointer;
      color: rgb(255 255 255 / 0.7);
      transition: var(--transition);
      font-size: var(--fs-11);
      &:hover {
        color: rgb(255 255 255 / 1);
      }
    }
  }
  .login_container {
    button {
      text-transform: uppercase !important;
      font-size: var(--fs-10);
      font-family: "Sora-SemiBold";

      color: rgb(255 255 255 / 0.7);
      cursor: pointer !important;
      &.newacc {
        font-size: 1rem;
        padding-right: 1rem;
      }
      // &.signin {
      //   background-color: rgb(14, 12, 21);
      //   border: none;
      //   font-family: system-ui;
      //   padding: 1rem 2rem;
      //   color: #fff;
      //   border-top-left-radius: 5px;
      //   border-top-right-radius: 25px;
      //   border-bottom-left-radius: 5px;
      //   border-bottom-right-radius: 5px;
      //   position: relative;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   cursor: pointer;
      //   font-size: var(--fs-11);
      //   transition: var(--transition);
      //   font-family: "Sora-Bold";
      //   &:hover {
      //     color: #c981f0;
      //   }
      //   &::after {
      //     position: absolute;
      //     inset: 0;
      //     content: "";
      //     height: 117%;
      //     width: 105%;
      //     border-top-left-radius: 5px;
      //     border-top-right-radius: 25px;
      //     border-bottom-left-radius: 5px;
      //     border-bottom-right-radius: 5px;
      //     background-image: linear-gradient(
      //       to right,
      //       #65aca1,
      //       #c981f0,
      //       #d0ab6b
      //     );
      //     z-index: -1;
      //     top: -3px;
      //     left: -2px;
      //   }
      // }
    }
  }
  .list_btn {
    width: 40px;
    height: 40px;
    border: 1px solid #e91e63;
    border-radius: 4px;
    border-top-right-radius: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span {
      width: 70%;
      height: 2px;
      background-color: #fff;
      transform-origin: left;
      &:nth-child(2) {
        margin-top: 10px;
      }
    }
    &.opened {
      span {
        transition: var(--transition);
        &:nth-child(1) {
          transform: rotateZ(45deg) translateY(-5px);
        }
        &:nth-child(2) {
          transform: rotateZ(-45deg) translateY(4px);
        }
      }
    }
  }
  .mobile_list {
    position: fixed;
    top: 100px;
    width: 100%;
    height: 86vh;
    z-index: 1111;
    left: 0;
    display: none;
    background-color: rgb(14 12 21 / 1);
    // background-image: url(../../public/assets/grid.png);
    background-image: url("/assets/grid.png");


    &.active {
      display: block;
    }
    .mobile_nav {
      width: 100%;
      height: 100%;
      li {
        transition: var(--transition);
        a {
          font-size: 2.8rem;
          padding: 3.9rem;
          font-family: "code";
        }
        &:hover {
          color: var(--bink);
        }
      }
    }
  }
}

@media screen and (max-width: 1022px) {
  .navbar {
    .container{
        max-width: 100%;
    }
    .list_btn {
      display: flex;
    }
    .nav-links {
      display: none;
    }
    .login_container {
      display: none;
    }
    // .mobile_list{
    //     display: block;

    // }
  }
}
@media screen and (min-width: 1022px) {
  .navbar {
    .container{
        max-width: 100%;
    }
    .list_btn {
      display: none;
    }
    .nav-links {
      display: flex;
      .nav-link{
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.3rem;
      }
    }
    .login_container {
      display: flex;
    }
    .new_acc{
        font-size: 1.2rem;
    }
    // .mobile_list{
    //     display: block;

    // }
  }
}
